__pycache__/
*.py[cod]
*$py.class
*.so
/.pytest_cache

.venv/
.venv-1/
venv/
ENV/
env/
target/
.env

.env
.env.*
!.env.example
secrets.toml
*.pod

data/
.work/

/.deepeval

load_err.log

# Node modules
node_modules/
frontend/node_modules/